In [31]:
from rdkit import Chem
import lipinski
import pandas as pd
from matplotlib import pyplot as plt

output_file_name = "result_by_lipinsk.sdf"

In [38]:
def generateSDF_from_molBlock(data):
    with open(output_file_name, 'w') as f:
        f.write(data)

In [40]:
mols = Chem.SDMolSupplier('FinalResultTargetCompound_minimization.sdf')
result_list = []
data = ""
for m in mols:
    smile_data = Chem.MolToSmiles(m)
    result_list.append(lipinski.lipinski_pass(smile_data))
    if(lipinski.lipinski_pass(smile_data)):
        #print(lipinski.lipinski_pass(smile_data))
        data += Chem.MolToMolBlock(m)
        data += "$$$$\n"
    #print(data)
    generateSDF_from_molBlock(data)
    #print(Chem.MolToMolBlock(m))

In [12]:
mols

In [4]:
result_df = pd.DataFrame(result_list, columns=['Lipinski Pass'])

In [5]:
result_df

     Lipinski Pass
0            False
1            False
2             True
3             True
4             True
..             ...
134           True
135           True
136           True
137          False
138          False

[139 rows x 1 columns]

In [6]:
result_df['Lipinski Pass'].value_counts()

True     100
False     39
Name: Lipinski Pass, dtype: int64

In [7]:
result_df['Lipinski Pass']

0      False
1      False
2       True
3       True
4       True
       ...
134     True
135     True
136     True
137    False
138    False
Name: Lipinski Pass, Length: 139, dtype: bool

In [8]:
result_df

     Lipinski Pass
0            False
1            False
2             True
3             True
4             True
..             ...
134           True
135           True
136           True
137          False
138          False

[139 rows x 1 columns]

In [9]:
result_df.to_csv("final_Lipinski_Pass.csv")